<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/add" method="post">
      <label for="datetime">Spotted on:</label>
      <input type="datetime-local" id="datetime" name="datetime_picker" required>
      <br>

<!--      commenting out for now, unsure on implementation -->
<!--      <label for="loc">Location</label>-->
<!--      <input>-->
<!--      <br>-->

      <label for="height">Plant height:</label>
      <input type="number" id="height" name="height" required>
      <br>

      <label for="spread">Plant spread:</label>
      <input type="number" id="spread" name="spread" required>
      <br>

<!--      plant characteristics -->
      <input type="checkbox" id="flowers" name="flowers">
      <label for="flowers">Flowers</label>
      <br>

      <div id="flower-colour-div" style="display: none;">
        <label for="flower-colour" id="flower-colour-label">Colour:</label>
        <input type="text" id ="flower-colour" name="flower-colour" required>
        <br>
      </div>

      <input type="checkbox" id="leaves" name="leaves">
      <label for="leaves">Leaves</label>
      <br>

      <input type="checkbox" id="fruit" name="fruit">
      <label for="fruit">Fruit</label>
      <br>

      <input type="checkbox" id="seeds" name="seeds">
      <label for="seeds">Seeds</label>
      <br>

      <div>
        <p>Sun exposure:</p>

        <div>
          <input type="radio" id="full-sun" name="sun-coverage" value="full" checked required>
          <label for="full-sun">Full sun</label>
        </div>

        <div>
          <input type="radio" id="partial-sun" name="sun-coverage" value="partial">
          <label for="partial-sun">Partial sun</label>
        </div>

        <div>
          <input type="radio" id="full-shade" name="sun-coverage" value="none">
          <label for="full-shade">Full shade</label>
        </div>
      </div>
      <br>

<!--      identification -->
      <label for="plant-name">Plant name:</label>
      <input type="text" id ="plant-name" name="plant-name" required>
      <br>

      <div>
        <p>Identification status:</p>

        <div>
          <input type="radio" id="complete" name="identStatus" value="complete" checked required>
          <label for="complete">Completed</label>
        </div>

        <div>
          <input type="radio" id="in-progress" name="identStatus" value="in progress">
          <label for="in-progress">In progress</label>
        </div>
      </div>
      <br>

      <label for="dbpedia">DBPedia link:</label>
      <input type="url" name="dbpedia" id="dbpedia" placeholder="https://example.com" pattern="https://.*" size="30" required>
      <br>

      <label for="photo">Photo:</label>
      <input type="file" id="photo" name="photo" accept="image/png, image/jpeg" required>
      <br>

      <label for="uname">Username:</label>
      <input type="text" id ="uname" name="uname" required>
    </form>

  <script>
<!--    shows flower colour option if flower attribute selected -->
    const flowerCheck = document.getElementById("flowers");
    const flowerColDiv = document.getElementById("flower-colour-div");
    const flowerColCheck = document.getElementById("flower-colour");

    flowerCheck.addEventListener("change", () => {
      if (flowerCheck.checked) {
        // flowerColCheck.style.display = "block";
        flowerColDiv.style.display = "block";

        flowerColCheck.required = true;
      } else {
        // flowerColCheck.style.display = "none";
        flowerColDiv.style.display = "none";

        flowerColCheck.required = false;
      }
    });

  </script>
  </body>
</html>

<!--full sun, partial shade, full shade-->

<!--datetime-->
<!--location-->
<!--description-->
<!--size (height and spread)-->
<!--characteristics:-->
<!--  flowers? if so then colour?-->
<!--  leaves?-->
<!--  fruits or seeds?-->
<!--  sun exposure-->
<!--identification: - updatable-->
<!--  name-->
<!--  status (completed/in-progress)-->
<!--  DBPedia link-->
<!--photo-->
<!--nickname-->
<!--comments-->
